ul.cart-product-list
    .cart-product-list__item
        .cart-product__item__product-photo
            img(src="http://placehold.it/180x100")
        .cart-product__item__product-description
            .product-description__product-name
                | SuperMario
            .product-description__cart-date
                | 14.12.2016
        .cart-product__item__product-price
            span.product-price__value
                | 400 рублей