.content-top
    h3.title
        | Купить игры неборого без регистрации смс с торента, получить компкт диск, скачать Steam игры после оплаты
    .image-container
        img(src="", alt="Image").image-main

.content-wrapper
    .content-head__ontainer
        .content-head__title-wrap
            h1.content-head__title
                | Новости
        .content-head__search-block
            .search-container
                form.search-container__form
                    input(type='text').search-container__form__input
                    button.search-container__form__btn
                        | search
    .content-main__container
        h3.content-text__title
            | «Ведьмак» под прикрытием. Впечатления от «Гвинт: Ведьмак. Карточная игра»
        img(src="http://placehold.it/350x150", alt="Image")
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem

.content-wrapper
    .content-head__ontainer
        .content-head__title-wrap
            h1.content-head__title
                | Посмотрите наши товары
    .content-main__container
        .products-columns
            .products-columns__item
                .products-columns__item__title-product
                    h4 Super Mario
                .products-columns__item__thumbnail
                    img(src='http://placehold.it/320x180', alt="Preview-image")
                .products-columns__item__description
                    span.products-price
                        | 400 руб.
                    a(href="#").btn-product-buy
                        | Купить

            .products-columns__item
                .products-columns__item__title-product
                    h4 Super Mario
                .products-columns__item__thumbnail
                    img(src='http://placehold.it/320x180', alt="Preview-image")
                .products-column__item__description
                    span.products-price
                        | 400 руб.
                    a(href="#").btn-product-buy
                        | Купить

            .products-columns__item
                .products-columns__item__title-product
                    h4 Super Mario
                .products-columns__item__thumbnail
                    img(src='http://placehold.it/320x180', alt="Preview-image")
                .products-columns__item__description
                    span.products-price
                        | 400 руб.
                    a(href="#").btn-product-buy
                        | Купить