.content-head {
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 10px;
  }
  &__title-wrap {
    &__title {
      font-size: 1.85rem;
      font-family: "Bebas_Neue";
      color: rgb(0, 0, 0);
      line-height: 1.85rem;
      font-weight: bold;

    }
  }
}

.search-container {
  &__form {
    display: flex;
    flex-wrap: nowrap;
    &__input {
      border: 0;
      box-sizing: border-box;
      border-radius: 10px 0 0 10px;
      background-color: rgb(229, 236, 231);
      width: 250px;
      height: 35px;
      margin: 0;
      padding: 0 5px 0 20px;
      font-size: 1rem;
      font-family: "PT_Sans";
      color: rgb(166, 164, 155);
      line-height: 1.2rem;
      &:focus {
        color: #000;
      }

    }
    &__btn {
      border: 0;
      border-radius: 0 10px 10px 0;
      background-color: rgb(186, 214, 211);
      width: 154px;
      height: 35px;
      margin: 0;
      padding: 0;
      font-size: 1.28rem;
      font-family: "Bebas_Neue", sans-serif;
      color: rgb(0, 0, 0);
      line-height: 1.28rem;
      font-weight: normal;
      &:hover,
      &:focus {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

.btn {
  display: inline-block;
  border-radius: 3px;
  background-color: rgb(80, 150, 217);
  max-width: 145px;
  width: 100%;
  height: 31px;
  font-size: 1rem;
  font-family: "PT_Sans", sans-serif;
  color: rgb(254, 254, 254);
  line-height: 31px;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  &:hover,
  &:focus {
    font-weight: bold;
  }
}

/* content-text style */
.content-text{

  p{
      font-size: 1.071rem;
      font-family: "PT_Sans";
      color: rgb(0, 0, 0);
      line-height: 1.667rem;
    font-weight: normal;
  }
}



.products-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px 0 20px;
  &__item {
    flex: 1 1 30%;
    max-width: 250px;
    padding: 10px 0 20px;
    &__title-product {
      padding: 10px 0;
      text-align: center;
      &__link {
        font-size: 1.42rem;
        font-family: "PT_Sans", sans-serif;
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 1.1rem;
        text-decoration: none;
      }
    }
    &__thumbnail {
    }
    &__description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
      font-size: 1.3rem;
      font-family: "PT_Sans", sans-serif;
      color: rgb(0, 0, 0);
      font-weight: bold;
      line-height: 1.4rem;
    }
  }
}

/* Image style */

.img-news{
  max-width: 300px;
}

.content-text__title{
    font-size: 1.857rem;
    font-family: "PT_Sans", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.857rem;
}

.content-footer__container{
  display: flex;
  justify-content: flex-end;
}