.content-head__container
    .content-head__title-wrap
        h1.content-head__title
            | Посмотрите наши товары
.content-main__container
    .products-columns
        .products-columns__item
            .products-columns__item__title-product
                h4 Super Mario
            .products-columns__item__thumbnail
                img(src='http://placehold.it/320x180', alt="Preview-image")
            .products-columns__item__description
                span.products-price
                    | 400 руб.
                a(href="#").btn-product-buy
                    | Купить

        .products-columns__item
            .products-columns__item__title-product
                h4 Super Mario
            .products-columns__item__thumbnail
                img(src='http://placehold.it/320x180', alt="Preview-image")
            .products-column__item__description
                span.products-price
                    | 400 руб.
                a(href="#").btn-product-buy
                    | Купить

        .products-columns__item
            .products-columns__item__title-product
                h4 Super Mario
            .products-columns__item__thumbnail
                img(src='http://placehold.it/320x180', alt="Preview-image")
            .products-columns__item__description
                span.products-price
                    | 400 руб.
                a(href="#").btn-product-buy
                    | Купить