.logotype-container
    a.logotype-link
        | Геймс Маркет
nav.main-navigation
    ul.nav-list
        li.nav-list__item
            a(href='#').nav-list__item__link
                | Главная
        li.nav-list__item
            a(href='#').nav-list__item__link
                | Мои заказы
        li.nav-list__item
            a(href='#').nav-list__item__link
                | Новости
        li.nav-list__item
            a(href='#').nav-list__item__link
                | О компании
.header-contact
    .header-contact__phone
        a(href='#').header-contact__phone-link
            | Телефон: 33-333-33
.header-container
    .payment-container
        .payment-basket
            a.payment-basket__link
                i.fa.fa-shopping-basket
            .payment-basket__status
                | о товаров
    .authorization-block
        a(href='#').authorization-block__link
            | Регистрация
        a(href='#').authorization-block__link
            | Войти
